@model WebIU.Models.Role.CreateRoleViewModel

@{
    ViewData["Title"] = "CreateRole";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-danger validation-summary" asp-validation-summary="All">
                    </div>
                    <div class="col-md-12">
                        <h4 class="border-bottom">@Language["AddRole"]</h4>
                    </div>
                    <div class="col-12">
                        @using (Html.BeginForm("CreateRole", "Role", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label>@Language["RoleName"]</label>
                                <input asp-for="RoleName" class="form-control" required placeholder="@Language["RoleName"]" />
                            </div>
                            <div class="form-group text-right my-2">
                                <input type="submit" value="@Language["Save"]" class="btn btn-success" />
                                <a href="/Role/RoleList" class="btn btn-primary">@Language["Back"]</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>