@model WebIU.Models.Role.EditPermissionInRoleViewModel
@{
    ViewData["Title"] = "EditPermissionInRole";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            @using (Html.BeginForm("EditPermissionInRole", "Role", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class=" mb-2">@Language["ManageRolePermissions"]</h4>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@Language["Module"]</th>
                                        <th>@Language["Permission"]</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.Permissions.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <div class="icheck-primary">
                                                    <input asp-for="@Model.Permissions[i].IsSelected" class="form-check-input" />
                                                    <label class="form-check-label" asp-for="@Model.Permissions[i].IsSelected">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td>
                                                <span> @Model.Permissions[i].Permission.ToString().Split(".")[1]</span>
                                                <input type="hidden" asp-for="@Model.Permissions[i].Permission" class="form-check-input" />
                                            </td>
                                            <td>
                                                <span> @Model.Permissions[i].Permission.ToString().Split(".")[2]</span>
                                            </td>
                                        </tr>
                                    }
                                    <input type="hidden" asp-for="RoleId" />


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right bg-white">
                    <input type="submit" class="btn btn-success" value="@Language["SaveChanges"]" />
                    <a asp-action="RoleEdit" asp-controller="Role" asp-route-id="RoleId" class="btn btn-danger">@Language["Back"]</a>
                </div>
            }
        </div>
    </div>
</div>

