@model WebIU.Controllers.RivaController.CariHareketlerViewModel

@{
    var bugün = DateTime.Now;

    string buAyBaşı = Convert.ToDateTime((bugün.Year + "-" + "01" + "-" + "1")).ToString("yyyy-MM-dd");
    string buAySonu = Convert.ToDateTime((bugün.Year + "-" + "12" + "-" + DateTime.DaysInMonth(bugün.Year, 12))).ToString("yyyy-MM-dd");
}


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label>Cari Kodu :</label>
                        <input disabled type="text" class="form-control" name="CariKodu" id="CariKodu" value="@Model.rivaCari.CA_KOD" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Cari Adı :</label>
                        <input disabled type="text" class="form-control" name="CariAdı" id="CariAdı" value="@Model.rivaCari.CA_UNVAN" />
                    </div>
                </div>
                @{
                    string borçBgColor = "";
                    @if ((Model.rivaCari.CA_ALACAK - Model.rivaCari.CA_BORC) >= 0)
                    {
                        borçBgColor = "success";
                    }
                    else
                    {
                        borçBgColor = "danger";

                    }
                }
                <div class="row">
                    <div class="col">
                        <label>Bakiye :</label>
                        <input disabled type="text" class="form-control bg-@borçBgColor" name="Bakiye" id="Bakiye" value="@(Model.rivaCari.CA_ALACAK - Model.rivaCari.CA_BORC)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Borç :</label>
                        <input disabled type="text" class="form-control" name="BORÇ" id="Borç" value="@Model.rivaCari.CA_BORC" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Alacak :</label>
                        <input disabled type="text" class="form-control" name="Alacak" id="Alacak" value="@Model.rivaCari.CA_ALACAK" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    string bgcolor = "";
}

<div class="row">
    <div class="col">
        <div class="card card-primary">
            <div class="card-header">
                <label>Cari Hareketler</label>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label>Başlangıç Tarihi</label>
                        <input type="date" class="form-control" id="StartDate" name="name" value="@buAyBaşı" />
                    </div>
                    <div class="col-6">
                        <label>Bitiş Tarihi</label>
                        <input type="date" class="form-control" id="EndDate" name="name" value="@buAySonu" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-2 pt-2">
                        <button id="RaporGetir" class="btn btn-lg btn-primary btn-block"><i class="fa fa-search"></i> Ara </button>
                    </div>
                    <div class="col-12 col-2 pt-2">
                        <button id="Yazdır" class="btn btn-lg btn-warning btn-block"><i class="fa fa-print"></i> Yazdır </button>
                    </div>
                </div>
                <div class="row" id="content">

                </div>
                <div id="scroll-trigger"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let currentPage = 1; // Mevcut sayfa numarası
    let isLoading = false; // Şu anda yükleme işlemi yapılıyor mu?
    $(document).ready(function () {
        $('#Yazdır').click(function () {

            Swal.fire({
                title: ' Detaylı Cari Hareket Raporu Yazılsınmı!',
                text: '',
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: "Hayır",
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet'
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log("EVET");
                    window.open("/Riva/CariHareketYazdır?StartDate=" + $('#StartDate').val() + '&EndDate=' + $('#EndDate').val() + '&CariId=@Model.rivaCari.CA_ID' + '&Detaylımı=true', '_blank');
                }
                else {
                    console.log("Hayır");
                    window.open("/Riva/CariHareketYazdır?StartDate=" + $('#StartDate').val() + '&EndDate=' + $('#EndDate').val() + '&CariId=@Model.rivaCari.CA_ID' + '&Detaylımı=false', '_blank');
                }
            })

        })

        $('#RaporGetir').click(function () {
            currentPage = 1;
            $('#content').empty();
            loadMoreContent()
        })

        function loadMoreContent() {
            var SeçiliCari = $('#CariSearch').select2('data')

            if (isLoading) return; // Zaten yükleme yapılıyorsa çık
            isLoading = true;
            var data = new FormData();
            data.append('curPage', currentPage)
            data.append('CariId', @Model.rivaCari.CA_ID)
            data.append('StartDate', $('#StartDate').val())
            data.append('EndDate', $('#EndDate').val())
            // Backend API çağrısı
            $.ajax({
                url: '/Riva/CariHareketlerInfınıty', // Backend endpoint
                type: "POST",
                processData: false,
                contentType: false,
                async: false,
                data: data,
                success: function (data) {
                    // Gelen verileri ekle
                    data.data.forEach(item => {
                        var bgColor = "primary";
                        var hareketTipi = ""
                        if (item.cH_ISLEM_TIPI == "-3") {
                            bgColor = "success"
                            hareketTipi = "DEKONT";
                        }
                        else if (item.cH_ISLEM_TIPI == "-12") {
                            bgColor = "success"
                            hareketTipi = "FATURA";
                        }
                        else if (item.cH_ISLEM_TIPI == "-10") {
                            bgColor = "danger"
                            hareketTipi = "KASA HAREKETİ";
                        }
                       else if (item.cH_ISLEM_TIPI == "-13") {
                            bgColor = "default"
                            hareketTipi = "DEVİR";
                        }
                        else {
                            bgColor = "danger"
                            hareketTipi = item.cH_ISLEM_TIPI;
                        }

                        var my_var = ' <div class="col-12 col-6">' +
                            '     <div evrakNo="' + item.cH_EVRAK_NO + '" işlemTipi="' + item.cH_ISLEM_TIPI + '" id="HareketCard" class="card bg-' + bgColor + '">' +
                            '         <div class="card-body">' +
                            '             <div class="row">' +
                            '                 <div class="col">' +
                            '                     <label>İşlem Tarihi : ' + item.cH_ISLEM_TARIHI.split('T')[0] + '</label>' +
                            '                 </div>' +
                            '             </div>' +
                            '             <div class="row">' +
                            '                 <div class="col">' +
                            '                     <label>Hareket Türü : ' + hareketTipi + '</label>' +

                            '                 </div>' +
                            '             </div>' +
                            '             <div class="row">' +
                            '                 <div class="col">' +
                            '                     <label>Tutar : ' + item.cH_TUTAR + '</label>' +
                            '                 </div>' +
                            '             </div>' +
                            '             <div class="row">' +
                            '                 <div class="col">' +
                            '                     <label>Açıklama : ' + item.cH_ACIKLAMA + '</label>' +
                            '                 </div>' +
                            '             </div>' +
                            '         </div>' +
                            '     </div>' +
                            ' </div>';
                        $('#content').append(
                            my_var
                        );
                        $('div[id="HareketCard"][işlemTipi="-12"]').click(function () {
                            var evrakNo = $(this).attr('evrakNo')
                            window.location.href = "/Riva/FaturaGörünüm?EvrakNo=" + evrakNo;
                        })
                    });

                    // Sayfa numarasını artır
                    currentPage++;

                    // Daha fazla veri yoksa tetikleyiciyi kaldır
                    if (!data.hasMore) {
                        $(window).off('scroll', onScrollHandler); // Scroll dinleyicisini kaldır
                        $('#scroll-trigger').hide(); // Göstergeden kurtul
                    }
                },
                error: function () {
                    console.error("Veriler yüklenirken hata oluştu!");
                },
                complete: function () {
                    isLoading = false; // İşlem tamamlandı
                }
            });
        }

        loadMoreContent();
        // Scroll olayını ele al
        function onScrollHandler() {
            const scrollTrigger = $('#scroll-trigger').offset().top;
            const viewportBottom = $(window).scrollTop() + $(window).height();

            // Tetikleme noktasına ulaşıldıysa içerik yükle
            if (viewportBottom >= scrollTrigger) {
                loadMoreContent();
            }
        }
        // İlk scroll olay dinleyicisini başlat
        $(window).on('scroll', onScrollHandler);
        // İlk içerik yükleme
    })


</script>
