@model WebIU.Models.User.SearchUserListViewModel
@{
    int row = 1;
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header text-right bg-white">
                @if (AuthorizationService.AuthorizeAsync(User, Permission.User.AddUser).Result.Succeeded)
                {
                    <a type="button" class="btn btn-primary" style="color:white !important" asp-action="AddUser" asp-controller="User">@Language["AddNewUser"]</a>
                }
                @if (AuthorizationService.AuthorizeAsync(User, Permission.User.Search).Result.Succeeded)
                {
                    <input type="button" value="@Language["ExportManager"]" class=" btn btn-primary" />
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 ">
        @using (Html.BeginForm("Search", "User", FormMethod.Post, new { @class = "form-group", @enctype = "multipart/form-data", @id = "searchForm" }))
        {
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 mb-2">
                            <input asp-for="Search.Id" class="form-control" placeholder="UserId" />
                        </div>
                        <div class="col-md-2 mb-2">
                            <input asp-for="Search.UserName" class="form-control" placeholder="UserName" />
                        </div>
                        <div class="col-md-2 mb-2">
                            <input asp-for="Search.Email" class="form-control" placeholder="Email" />
                        </div>
                        <div class="col-md-2 mb-2">
                            <input asp-for="Search.PhoneNumber" class="form-control" placeholder="PhoneNumber" />
                        </div>
                        <div class="col-md-2 mb-2">
                            <input asp-for="Search.Job" class="form-control" placeholder="Job" />
                        </div>
                        <div class="col-md-1 mb-2">
                            <div class="form-group">
                                <select asp-for="Search.Status" class="form-control">
                                    <option value="@true">Active</option>
                                    <option value="@false">Passive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1 mb-2">
                            <div class="form-group">
                                <select asp-for="Search.CountryId" class="form-control">
                                    <option value="@null">Country...</option>
                                    @foreach (var country in Model.Countries)
                                    {
                                        <option value="@country.Id">@country.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1 mb-2">
                            <div class="form-group">
                                <select asp-for="Search.CultureName" class="form-control">
                                    <option value="@null">Culture...</option>
                                    @foreach (var culture in Model.Cultures)
                                    {
                                        <option value="@culture.Name">@culture.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1 mb-2">
                            <div class="form-group">
                                <select asp-for="Search.BanStatus" class="form-control">
                                    <option value="@null">Ban status...</option>
                                    <option value="@true">Banned</option>
                                    <option value="@false">Not Banned</option>
                                </select>
                            </div>
                        </div>
                       
                        <div class="col-md-3 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">CreateDate</span>
                                </div>
                                <input type="text" class="form-control float-right" asp-for="Search.AddedDate" id="reservation">
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">LoginDate</span>
                                </div>
                                <input type="text" class="form-control float-right" asp-for="Search.LastLoginDate" id="reservation">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        @if (AuthorizationService.AuthorizeAsync(User, Permission.User.Search).Result.Succeeded)
                        {
                            <input type="submit" value="@Language["Search"]" form="searchForm" class="btn btn-primary" />
                            <a asp-action="Search" asp-controller="User" class="btn btn-warning"><i class="fa-solid fa-broom"></i> @Language["Clear"]</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-12" style="max-height:500px;">
        <div class="card">
            <div class="card-body">
                @if (Model.Users != null)
                {
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Row</th>
                                    <th>UserId</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>PhoneNumber</th>
                                    <th>Country</th>
                                    <th>Last Login Date</th>
                                    <th>User Roles</th>
                                    <th>User Status</th>
                                    <th>Ban Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users)
                                {
                                    <tr ondblclick="setWindowLocation('/User/UserInformation?userId=@user.Id')">
                                        <td>
                                            @row @{
                                                row++;
                                            }
                                        </td>
                                        <td>@user.Id</td>
                                        <td>@user.UserName</td>
                                        <td>@user.Email</td>
                                        <td>@user.PhoneNumber</td>
                                        <td>
                                            @if (Model.Countries.Where(p => p.Id == user.CountryId).Any())
                                            {
                                                <span>@Model.Countries.Where(p => p.Id == user.CountryId).FirstOrDefault().Name</span>
                                            }
                                        </td>

                                        <td>@user.LastLoginDate</td>
                                        <td>
                                            @foreach (var role in user.RoleNames)
                                            {
                                                <span>@role</span>
                                            }
                                        </td>
                                        <td>
                                            @if (!user.Status)
                                            {
                                                <span class="text-danger d-block">Passive</span>
                                            }
                                            else
                                            {
                                                <span class="text-success">Active</span>
                                            }
                                        </td>
                                        <td>
                                            @if (user.BanStatus)
                                            {
                                                <span class="text-danger d-block">Banned</span>
                                            }
                                            else
                                            {
                                                <span class="text-success">Not Banned</span>
                                            }
                                        </td>
                                        <td class="text-right">
                                            <div class="btn-group" role="group">
                                                @if (AuthorizationService.AuthorizeAsync(User, Permission.User.UserInformation).Result.Succeeded)
                                                {
                                                    <a asp-action="UserInformation" asp-controller="User" asp-route-userId="@user.Id" class="btn btn-success btn-sm mx-1"><i class="fas fa-info p-1"></i></a>
                                                }
                                                @if (AuthorizationService.AuthorizeAsync(User, Permission.User.EditUserInformation).Result.Succeeded)
                                                {
                                                    <a asp-action="EditUserInformation" asp-controller="User" asp-route-userId="@user.Id" class="btn btn-primary btn-sm mx-1"><i class="far fa-edit  p-1"></i></a>
                                                }
                                                @if (AuthorizationService.AuthorizeAsync(User, Permission.User.UserDelete).Result.Succeeded)
                                                {
                                                    <a onclick="entityDelete('/User/UserDelete?userId=@user.Id','@user.UserName')" class="btn btn-danger btn-sm mx-1"><i class="far fa-trash-alt  p-1"></i></a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p>Kayıt listelenemedi...</p>
                }
            </div>
        </div>
    </div>
</div>



@*<div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-right">
                            @if (AuthorizationService.AuthorizeAsync(User, Permission.User.AddUser).Result.Succeeded)
                            {
                                <a asp-action="AddUser" asp-controller="User" class="btn btn-primary mb-2">
                                    <i class="fa-solid fa-plus"></i>@Language["AddUser"]
                                </a>
                            }
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="UserTable"
                               data-toolbar="#UserListToolBar"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-id-field="id"
                               data-page-list="[10, 25, 50, 100, all]"
                               data-locale="@Language["locale"]
                               data-search="true"
                               data-click-to-select="true"
                               data-show-refresh="true"
                               data-show-export="true">
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-field="userName">User Name</th>
                                    <th data-field="email">Email</th>
                                    <th data-field="phoneNumber">PhoneNumber</th>
                                    <th data-field="countryId">Country</th>
                                    <th data-field="lastLoginDate">Last Login Date</th>
                                    <th data-field="roleNames">User Roles</th>
                                    <th data-field="lockoutStatus">Lockout Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        function operateFormatter(value, row, index) {
            return [

                ' @if (AuthorizationService.AuthorizeAsync(User, Permission.User.UserInformation).Result.Succeeded)
               {
                   var anchor = new TagBuilder("a");
                   anchor.MergeAttribute("href", "/User/UserInformation?userId=%ENTITYID");
                   anchor.MergeAttribute("class", "btn btn-success btn-sm mx-1");

                   var Icon = new TagBuilder("i");
                   Icon.MergeAttribute("class", "fas fa-info p-1");

                   anchor.InnerHtml.AppendHtml(Icon);

                    @anchor
                }'

                ,


                 ' @if (AuthorizationService.AuthorizeAsync(User, Permission.Device.EditDevice).Result.Succeeded)
               {
                   var anchor = new TagBuilder("a");
                   anchor.MergeAttribute("href", "/User/EditUserInformation?userId=%ENTITYID");
                   anchor.MergeAttribute("class", "btn btn-primary btn-sm mx-1");

                   var Icon = new TagBuilder("i");
                   Icon.MergeAttribute("class", "far fa-edit  p-1");

                   anchor.InnerHtml.AppendHtml(Icon);

                    @anchor
                }'


                ,
                ' @if (AuthorizationService.AuthorizeAsync(User, Permission.Device.DeleteDevice).Result.Succeeded)
                {
                    var anchor = new TagBuilder("a");
                    anchor.MergeAttribute("onclick", "entityDelete('/User/UserDelete?userId=%ENTITYID','')");
                    anchor.MergeAttribute("class", "btn btn-danger btn-sm mx-1");

                    var Icon = new TagBuilder("i");
                    Icon.MergeAttribute("class", "far fa-trash-alt  p-1");

                    anchor.InnerHtml.AppendHtml(Icon);

                    @anchor

                }'
            ].join('').replaceAll("%ENTITYID", row["id"])
        }

        function LockoutStatusFormatter(value, row, index) {

            if (row["banStatus"] == true) {
                return '<span class="text-danger d-block">Yasaklı</span>'
            }
            else {
                return '<span class="text-success">Yasaklı Değil</span>'

            }
        }

        $(document).ready(function () {
            $('#UserTable').bootstrapTable({
                url: "/User/TableWithJson?",
                columns: [
                    [
                        {},
                        {},
                        {},
                        {},
                        {},
                        {},
                        {
                            formatter: LockoutStatusFormatter
                        },
                        {
                            field: 'operate',
                            title: 'Item Operate',
                            align: 'center',
                            clickToSelect: false,
                            formatter: operateFormatter
                        }]
                ]
            })

        })
    </script>*@



