@model WebIU.Models.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "MyAccount";
    Layout = "~/Views/Shared/_LayoutMyAccount.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {@class = "form-group", @enctype = "multipart/form-data" }))
            {
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="border-bottom">@Language["PasswordProcesses"]</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="modal-body">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label>@Language["CurrentPassword"]</label>
                                    <input asp-for="CurrentPassword" class="form-control" required placeholder="@Language["CurrentPassword"]" />
                                </div>
                                <div class="form-group">
                                    <label>@Language["NewPassword"]</label>
                                    <input asp-for="NewPassword" class="form-control" required placeholder="@Language["NewPassword"]" />
                                </div>
                                <div class="form-group">
                                    <label>@Language["ConfirmPassword"]</label>
                                    <input asp-for="ConfirmPassword" class="form-control" required placeholder="@Language["ConfirmPassword"]" />
                                </div>
                            </div>
                            <div class="card-footer text-right bg-white">
                                <a asp-action="MyAccount" asp-controller="Account" class="btn btn-warning text-white"><i class="fa-solid fa-arrow-rotate-left "></i> Geri</a>
                                <input type="submit" value="@Language["SaveChanges"]" class=" btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>