@model WebIU.Models.CariViewModels.CariEditViewModel

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label>Müşteri Adı:</label>
                        <input type="text" class="form-control" name="name" id="Ad" value="@Model.Cari.Ad" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Müşteri Kodu:</label>
                        <input type="text" class="form-control" name="name" id="Kod" value="@Model.Cari.CariKodu" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Vergi No :</label>
                        <input type="text" class="form-control" name="name" id="VergiNo" value="@Model.Cari.VergiNo" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Adres</label>
                        <textarea class="form-control" id="Adres" rows="3">@Model.Cari.Adres</textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-row-reverse">
                            <div class="p-2">
                                <button class="btn btn-warning" id="EkletBtn"><i class="fa fa-save"></i> Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {

        $('#Kod').inputmask('@Model.CariKodTanım',
            {
                'definitions': {
                    'H': { validator: "[A-Z-0-9]", cardinality: 1 }
                }
            }
        );

        $('#EkletBtn').click(function () {

            var data = new FormData();
            data.append('Id', @Model.Cari.Id)
            data.append('Ad', $('#Ad').val())
            data.append('Kod', $('#Kod').val())
            data.append('Adres', $('#Adres').val())
            data.append('VergiNo', $('#VergiNo').val())


            $.ajax({
                url: "/Cari/CariEdit",
                type: "POST",
                processData: false,
                contentType: false,
                async: false,
                data: data,
                success: function (data) {
                    if (data.status == 1) {
                        successAlert(data.message)
                        setTimeout(() => { window.location.href = "/Cari/Cariler?ParentId=@Model.Cari.ParentId" }, 1000)
                    }
                    else {
                        errorAlert(data.message)
                    }
                    OrderTablosuDoldur()
                },
            });

        })
    })
</script>