@model Entities.Concrete.OtherEntities.Profile

<div class="row">
    <div class="col">
        <div class="card card-primary card-outline">
            <div class="card-body">
                <form action="/Profile/EditProfile" method="post">
                    <div class="row">
                        <div class="col">
                            <label>Profile Name:</label>
                            <input type="text" class="form-control" name="ProfileName" value="@Model.ProfileName" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="d-flex flex-row-reverse">
                                <div class="p-2">
                                    <input type="hidden" value="@Model.Id" name="Id" />
                                    <input type="hidden" value="@Model.AddedDate" name="AddedDate" />
                                    <input type="hidden" value="@Model.Status" name="Status" />
                                    <input type="hidden" value="@Model.AddedUserId" name="AddedUserId" />
                                    <input type="hidden" value="@Model.UpdateDate" name="UpdateDate" />
                                    <input type="hidden" value="@Model.UpdateUserId" name="UpdateUserId" / />
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>